*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    

.container{
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 5px;
    padding: 10px;
}
    

}

.box{
    background-color: lightpink;
   
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;

}
.contant1{
    grid-column: 2/4;
}

.footer{
    grid-column: 1/4;
}