*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    color: white;

}

body{
    background-color: black;
}

.container{
    /* padding: 20px; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: aqua;
    height: 400px;
    width: 400px;

}

.first{
    background-color: blue;
}

.second{
    background-color: orange;
}

.third{
    background-color: rgb(172, 35, 14);
}

.forth{
    background-color: green;
}