*{
    margin: 0px;
    padding: 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 200px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: black;
    margin-top: 200px;
    gap: 5px;
    
}

.Header1{
    grid-row-start: 3;
    grid-row-end: 4;
}

.Header2{
    grid-row: 1/3;

}