*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    

}

.box{
    height: 50px;
    width: 200px;
    background-color: rgb(69, 55, 38);
    font-size: 25px;
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    margin: 10px;
    
}

.box:hover{
    background-color: rgb(108, 85, 57);
    /* height: 50px;
    width: 200px;
    font-size: 30px; */
    /* transform: scale(1.5); */
    /* transform: translateY(500px); */
    /* transform: rotate(30deg); */
    /* transform: skew(-30deg); */

    /* when we use transform translateX and y but Z is come 3rd direction that's why we use perpective: 00px in parents */
    /* transform: translateZ(200px); */
    transform: rotateX(30deg);
    
}