*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.box{
    height: 50px;
    width: 200px;
    background-color: rgb(69, 55, 38);
    font-size: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    
}

.box:hover{
    background-color: rgb(108, 85, 57);
    /* height: 52px;
    width: 208px; */
    font-size: 30px;

    
}