.container{
    background-color: antiquewhite;
    display: flex;
     /* Flex direction by default Row wise */
    height: 600px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Use for commpress the size wrap */
    flex-wrap: wrap;
    
   
}

.box{
    height: 100px;
    width: 100px;
    margin: 5px;
}

.first{
    background-color: orange;
}
.second{
    background-color: red;

}
.third{
    background-color: green;
}

.fourth{
    background-color: blue;
}