*{
    margin: 0px;
    padding: 0px;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 200px;
    width: 800px;
    /* background-color: rgb(223, 109, 52); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
}

.box{
    background-color: rgb(87, 127, 160);
}

img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:900px) {
    .container{
        width: 400;
        height: 400px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}

@media screen and (max-width: 500px) {
    .container{
        width: 200px;
        height: 200px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
}