
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.sun{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: orange;
    box-shadow: 0px 0px 40px 10px red;
}